.book-index {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5; /* Light gray background */
    min-height: 100vh;
}

.book-index h2 {
    color: #e458a5;
    font-size: 28px;
    margin-bottom: 20px;
}

/* Style Add Book Button */
.add-book-btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #be3386;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    transition:  0.3s ease;
}

.add-book-btn:hover {
    background-color: #218838;
}