.book-details {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-thumbnail {
    width: 100%;
    max-width: 250px;
    margin-top: 10px;
    border-radius: 5px;
}

.on-sale-sign {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.price-high {
    color: red;
    font-weight: bold;
}

.price-low {
    color: green;
    font-weight: bold;
}

.price-normal {
    color: black;
}

.back-btn {
    display: inline-block;
    padding: 10px;
    background-color: #e32d9a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.back-btn:hover {
    background-color: #e32d9a;
}