button {
    cursor: pointer;
    background: linear-gradient(135deg, #d32ea2, #a11a50);
    color: white;
    margin: 0.5em;
    border: none;
    padding: 0.6em 1em;
    border-radius: 6px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(135deg, #5b0fc7, #1a5cc4);
    color: white;
    transform: scale(1.05);
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    max-width: 250px;
    text-align: center;
}

input:focus {
    background-color: #eef;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
}
